body{
    width: 390px;
    height: auto;
    background-color:#181818;
    color: #d6d6c3;
    font-family: 'Roboto', sans-serif;
}
/*this div contains only buttons and state box, ignore name*/
.addon-content{
    margin: auto;
    display:grid;
    grid-template-columns: 190px 20px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}
.options{
    margin: auto;
    display:grid;
    grid-template-columns: 190px 10px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-bottom: 10px;
}
.bookmarks{
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    width: 100%;
}
.bookmark{
    width: 23.5%;
}
.control{
    width: 190px;
}
.button{
    background-color: #212121;
    border: 1px solid #66666666;
    border-radius: 5px;
    line-height: 150%;
    text-align: center;
    padding: 2px 0px;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 400;
    font-size: 16px;
    
}
.button:hover{
    background-color: #323232;
    transition: background-color 0.2s;
}
/*container for task steps*/
#task-steps-list{
    font-size: 20px;
    background-color: #242424;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
#step-line{
    font-size: 14px;
    line-height: 14px;
}
#option{
    width: 190px;
}